input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
	border: 2px solid red;
}
select.ng-invalid.ng-touched{
	border: 2px solid red;
}
select.ng-valid.ng-touched{
	border: 2px solid #66ff66;
}
